
* {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.search {
  width: 94%
}
.footer-time::-webkit-scrollbar {
  width: 12px;
}

.footer-time::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 20px;
}

.footer-time::-webkit-scrollbar-track {
  background-color: rgb(170, 141, 141, 0);
}

.footer-notes {
  width: 98%;
}

.desighnCritique {
  height: 56px;
  width: 280px;
  top: 53px;
}

.Microsoft {
  top: 132px;
  width: 280px;
}

.Ateam {
  top: 285px;
}

.Bteam {
  top: 285px;
}

.Bproject {
  height: 38px;
  top: 378px;
}

.note-time {
  font-size: 10px;
}

.line {
  width: 92%;
}

.line span {
  top: -20px;
}